:root {
	--default-green: #1db954;
	--light-green: #1ed760;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
header {
	display: flex;
	justify-content: center;
}
img {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
	align-items: center;
}
fieldset {
    border: none;

    display: flex;

    align-items: center;
	text-align: center;

	color: white;

	margin-top: 1rem;
    
}

.fiedset-right fieldset{
	margin: 1px;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: #121312;
	background-image: url("./img/more-music-animate.svg");
	background-repeat: no-repeat;
	background-position: 10px 10px;
	overflow: hidden;
}

.left-right{
	color: #1db954;
	margin: 1px;
}

marquee{
	color: #1db954;
}


h2{
	color: white;
	text-align: center;
}

title{
	text-align: right;
	
}


/* Utility Classes */
.btn-primary {
	background: var(--default-green);
	color: white;
	text-transform: uppercase;
	padding: 15px 60px;
	border: none;
	border-radius: 30px;
	letter-spacing: 1px;
	font-weight: bold;
	transition: all 300ms ease;
}

.btn-primary:hover {
	background: var(--light-green);
	cursor: pointer;
}

.logo {
	height: 40px;
	width: auto;
}

/* Navbar */
#navbar {
	display: flex;
	color: white;
	justify-content: center;
	position: fixed;
	top: 0;
	width: 100%;
}

#navbar .navbar-container {
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
}

#navbar .navbar-container ul {
	display: flex;
	list-style: none;
	font-weight: bold;
}

#navbar .navbar-container ul li {
	padding: 0 20px;
	transition: all 300ms ease;
}

#navbar .navbar-container ul li:hover {
	color: #1db954;
	cursor: pointer;
}

#navbar .navbar-container ul li:nth-child(3) {
	border-right: 1px solid white;
}

/* Showcase */
#showcase {
	height: 100vh;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: rgb(249, 249, 249);
	background: url("/img/showcase.webp") center center/cover;
	background-blend-mode: color;
}

.showcase-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 5rem;
	
	justify-content: center;
	padding: 40px 40px;
	background-color: rgba(46, 46, 46, 0);
	border-radius: 20px;

}


#showcase .showcase-container p {
	margin: 15px 0;
	font-size: 2.1rem;
	align-items: right;
}

.btn-primary{

	color:black;
	text-align: right;
}

/* Footer */
#footer {
	background: black;
	color: white;
	padding: 80px 0;
}

#footer .footer-content {
	display: flex;
	width: 60%;
	margin: auto;
	justify-content: space-between;
}

#footer .footer-content .footer-menu {
	margin: 0 60px;
	list-style: none;
}

#footer .footer-content .footer-menu .footer-menu-item {
	margin: 25px 0;
	transition: all 300ms ease;
}

#footer .footer-content .footer-menu .footer-menu-item:hover {
	color: var(--default-green);
	cursor: pointer;
}

#footer .footer-content .footer-menu p {
	font-weight: bold;
	text-transform: uppercase;
	color: #919496;
	font-size: 0.8rem;
}

/* Footer Socials */
.socials {
	display: flex;
}

.socials i {
	margin: 0 20px;
	font-size: 1.7rem;
	transition: all 300ms ease;
}

.socials i:hover {
	color: var(--default-green);
	cursor: pointer;
}

/* Footer Info */
.footer-info {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 60%;
	margin: auto;
	font-weight: bold;
	color: #919496;
	font-size: 0.75rem;
	padding-top: 50px;
}

.footer-info .footer-info-items {
	display: flex;
	list-style: none;
}

.footer-info .footer-info-items .footer-info-item {
	margin: 0 10px;
	transition: all 300ms ease;
}

.footer-info .footer-info-items .footer-info-item:hover {
	color: var(--default-green);
	cursor: pointer;
}

.footer-info .rights .country {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 10px;
}

.footer-info .rights .country p {
	transition: all 300ms ease;
}

.footer-info .rights .country p:hover {
	color: var(--default-green);
	cursor: pointer;
}

.footer-info .rights .country .brazil-flag {
	height: 20px;
	width: auto;
	display: inline-block;
	margin-left: 10px;
}
